/* 메인 부분 */
section {         
    position: relative;
    justify-content: center;
  }
  .container {
      display: flex;
      max-width: 1160px;
      margin: 0 auto;
      padding: 20px;
      padding-top: 70px;
  }

  /* 사이드 영역 */
  .sidebar {
      width: 200px;
      padding: 20px;
      margin-right: 20px;
  }
  .sidebar h2{
      font-size: 24px;
      margin-bottom: 20px;
      font-weight: bold;
  }
  .sidebar h3, .products h2{
      font-size: 18px;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .sidebar ul {
      list-style: none;
      padding: 0;
  }
  .sidebar ul li {
      margin-bottom: 15px;
      cursor: pointer;
      font-size: 13px;
  }
  .sidebar hr{
      margin-top: 30px;
      margin-bottom: 10px;
      margin-left: 0;
      width: 95%;
      background-color: silver;
  }

  /* 닉네임 영역 */
  /* 폰트 사이즈 */

  .nickname h1{
      font-size: 28px;
      font-weight: bold;
  }
  .nickname p{
    padding-top: 20px;
  }
  .nickname p, .info_font1{
      font-size: 14px;
      color: rgb(167, 167, 167);
      font-weight: bold;
  }
  .info_font2{
      font-size: 23px;
      font-weight: bold;
  }
  .info_font2 a {
      color: black;
  }

  /**/
  .main {
      flex: 1;
      padding: 20px;
  }
  .status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  }
  .status .nickname {
      font-size: 24px;
  }

  .info-box {
      display: flex;
      justify-content: space-between;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 50px; 
      margin-top: 30px;                      
  }
  .info-box div {
      text-align: center;
      flex: 1;
      margin: auto;
  }
  .info-box div:not(:last-child) {
      border-right: 1px solid #ddd;
  }

  /* 내 상품 영역 */

  .products {
      padding-top: 20px;
  }
  .products .tabs {
      display: flex;
      border-bottom: 1px solid  #ddd;
      width: 800px;
      justify-content: space-around;
      font: bold;
      color: rgb(98, 98, 98);
  }
  .products .tabs div {
      padding: 10px 40px;
      cursor: pointer;
      margin-right: 5px;
      border-bottom: 2px solid transparent;
  }
  .products .tabs .active {
      color: black;
      border-bottom: 2px solid black;
      font-weight: bold;
  }
  .products .tab-content {
      display: none;
  }
  .products .tab-content.active {
      display: block;
  }
  .no-products {
      color: #474747;
      text-align: center;
      padding-top: 100px;
  }

  /* 내상품 필터영역 */
  .filter{
      font-size: 16px;
      display: flex;
      margin-top: 40px;
      justify-content: space-between;
  }
  .filter .sort {
    display: flex;
    justify-content: end;
    font-size: 14px;
    padding-right: 0px;
}

.filter .sort div {
    margin-left: 10px;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid transparent;
    font-weight: normal; 
    position: relative; 
}
  .filter .sort .active {
      font-weight: bold;
  }


  .f-line{
    margin-top: 150px;
  }

  .hr1 {
    width: 1;
    height: 3;
    background-color: grey;
    border: none;
    margin: 0 5px;
    padding: 0 0.5px;
}


  /* 모달창 부분 */ 

  .modal {
    display: none;  
    position: fixed; 
    z-index: 100; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    overflow: auto;
    transition: opacity 0.5s ease;
}
.modal-content {
    background-color: #fefefe;
    padding: 10px;
    border: 1px solid #888;
    width: 500px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    box-sizing: border-box;
}


/* 모달 닫기 버튼 */
.close {
    color: #aaa;
    float: left;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
.modals h2{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
.modals h3{
    font-size: 16px;
    font-weight: bold;
}
#modals{
    padding: 10px;
}
#modal_1{
    height: 200px;
    padding-top: 40px;
}
#modal_2{
     border-top: 5px solid #d5d5dd61;
     padding-top: 20px;
   
}
#modal_box{
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
}
#modal_box p{
    padding-top: 10px;
    font-size: 15px;
}

/* 모달창 애니메이션 */
.modal.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

